a.page-link{
color:blue !important;
}

a.page-link:visited {
color:blue !important;
}

ul {
margin:0.5rem;
}

ul.navbar-nav {
margin:0px;
}


a.btn-info, a.btn-info:visited, a.btn-primary, a.btn-primary:visited {
color:white !important;
} 

.navbutton {
width:10rem;
margin:1rem;
}


/* change mouse cursor when hovering over links and buttons to finger */
a {
		cursor: pointer;
  }
		.btn {
			cursor: pointer;  
		}


.navbutton {
			width:10rem;
			margin:1rem;
}
		

/* dropdown menu inline with button on my page */
.div-inline{
    display:inline-block;
}

a.btn {
	color:white !important;
	text-decoration: none !important;
	
}
/* number alignment for ranking tables */
.alignright {
	text-align: right;
}

/* CSS for drop downs */
.dropdown-menu a:hover {
background-color: #FFFF00 !important;
color: #FF0000 !important;
}

.dropdown-menu {
	background-color:#0B22AD;
}

#mynav.navbar li a:hover { 
background-color: #FFFF00 !important;
color: #FF0000 !important;
}


.nounderline {
text-decoration:none;
}


.popover {
    background: #2E456D;
	color:white;
}

.popover a {

	color:white;
}

.pop-content {
    color: white;    
}

.pop-content a {
    color: white;    
}

/* css for filter box row */

.frow {
margin:1rem;        
}

/* css for gaps between filter boxes */

.fbox {
padding:0.5rem;
}


.fbox2 {
padding:0.5rem;
}



.card {

background-color:#008080;

border: 5px solid black;

border-collapse:collapse;

}



 body {

	background-color:#106288;

	color: white;

	}



.bg-1 {

	background-color:#106288;

	color: white;

	}

.bg-3 {
	
	background-color:#5A173B;
	color: white;
}

.bg-4 {

	background-color:#8E8215;

	color: white;

	}
  



.container-fluid {

	padding-top: 30px;

	padding-bottom: 70px;

	}

	

table { 

	margin: 0 auto;



}



td {

	color:white;

  font-family: Tahoma, Geneva, sans-serif;

    padding: 1rem;

}



a {

color:  #00ffff !important;

text-decoration: underline;

}



a:visited {

color:#00ffff;

    text-decoration: underline;

}



a:hover {

color:#ffd700;

    text-decoration: underline;

}



th.upvote::after {content: "Upvotes";}

th.totalweight::after {content: "Total Weight";}

th.sptotalweight::after {content: "SP X Total Weight";}



#bigtable {     background-color:#106288;   }    

.nav-item a {
	font-size:1.5rem;
	color:#00ffff !important;
}

li.nav-item, span.navbar-brand {
	margin-right:2rem;
}



li.nav-item:hover {
	background-color:purple;

}


.navbar {	
	padding-top:0px;
	padding-bottom:0px;
	background-color: #16315D;
}


@media only screen and (max-device-width: 480px) {  
    		#bigtable {     background-color:#106288;   } 
    	} 


@media screen and (max-width: 769px)  {
	
    .fbox2 .card {
    }
}



@media screen and (max-width: 480px)  {

    th.upvote::after {content: "V";}

    th.totalweight::after {content: "TW";}

    th.sptotalweight::after {content: "SP X TW";}

    td.mobile, th.mobile {font-size: 14px;}
}


a.btn-light {
color:blue !important;
}

a.btn-light:visited {
color:blue !important;
}


